.App {
  .headerTitle {
    display: flex;
    justify-content: space-between;
    .headerBtns {
      display: flex;
      align-items: center;
      .btn {
        margin-left: 10px;
      }
    }
  }
}

.configModal {
  .ant-modal-footer {
    .ant-btn:last-of-type {
      display: none !important;
    }
  }
}
